.nome{
  background-color: aquamarine;
  color: black;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;

}

.curso{
  background-color: brown;
  color: azure;
  width: 400px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

}

.txtobjetivo{
  background-color: brown;
  color: azure;
  width: 400px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

}
.txtobjetivo1{
  background-color: brown;
  color: azure;
  width: 400px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

  .txthobbies{
  background-color: brown;
  color: azure;
  width: 400px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

}

.txtcurso1{
  background-color: brown;
  color: azure;
  width: 100px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.txttitulo{
  display: inline-flex;
  margin-left: 50px;
}
.curso{
  display: inline-flex;
  margin-left: 50px;
}
.txtobjetivo{
  display: inline-flex;
  margin-left: 50px;
}
.txthobbies{
  display: inline-flex;
  margin-left: 50px;
}
.dadospessoais{
  height: 100px;
  background-color: blueviolet;
}
