<div class="nome"><h1>Michael Thomas</h1></div>
<br>
<div class="dadospessoais">
  <div class="caixa1">
    <div class="curso">
      Técnico em Desenvolvimento de Sistemas
    </div>

<br>

  <div class="objetivo"><p class="txtcurso1">Objetivo</p></div>
  <div class="objetivo1"><p class="txtobjetivo">Transição de Carreira</p></div>

<br>

  <div class="hobbies"><p class="txthobbies">Hobbies: Cantar e Jogar</p></div>
  <div class="linkedin"><p class="linkedin"><a href="https://www.linkedin.com/in/michaelthomasdeoliveira/"></a></p></div>
  <div class="github"><a href="https://github.com/michaelthomasd"></a></div>
</div>




<router-outlet></router-outlet>
